<launch>
  <!-- load world -->
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find lwr_simulation)/worlds/empty_throttled.world" output="screen" respawn="false" />
  <!-- load robot -->
  <param name="/use_sim_time" value="true"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find two_lwr_defs)/robots/two_lwr.urdf.xml'" />
  <node name="spawn_lwr" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model two_lwr -paused=true" respawn="false" output="screen" />

</launch>
