<launch>

  <!-- send elektron.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find lwr_defs)/robots/kuka_lwr_arm.urdf.xml'" />

  <rosparam command="load" file="$(find lwr_bringup)/controllers.yaml" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- load controllers -->
   <node name="lwr_controller" pkg="ocl" type="deployer-gnulinux" launch-prefix="lxterm -e" args="-s $(find lwr_bringup)/lwr_fakeservo.xml --">
   </node> 
</launch>

